{% extends 'course/common.html.twig' %}

{% trans_default_domain 'course' %}

{% set title = 'title.new'|trans %}

{% block errors %}{{ form_errors(form) }}{% endblock errors %}

{% set breadcrumbs = { ('' ~ title) : path('app_course_index')}|merge(breadcrumbs|default({})) %}

{% block body %}

    <div class="ibox-content">
        <div id="calendar"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('inspina/css/plugins/iCheck/custom.css') }}" rel="stylesheet">

    <link href="{{ asset('inspina/css/plugins/fullcalendar/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ asset('inspina/css/plugins/fullcalendar/fullcalendar.print.css') }}" rel='stylesheet' media='print'>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('inspina/js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
    <script src='{{ asset('inspina/js/plugins/fullcalendar/google-calendar.min.js') }}'></script>
    <script src="{{ asset('js/course-calendar.js') }}"></script>
{% endblock %}
