{% trans_default_domain 'course' %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% trans %}Informations Course {% endtrans %} - {{ course.id }}
    </div>
    
    <div class="panel-body">
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}Date{% endtrans %}</div>
            <div class="crud-field-value">
                {{ course.date|date('d/m/Y') }}
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}data.hour_begin{% endtrans %}</div>
            <div class="crud-field-value">
                {{ course.hourBegin.format('H:i') }}
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}data.hour_end{% endtrans %}</div>
            <div class="crud-field-value">
                {{ course.hourEnd.format('H:i') }}
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}Class Period{% endtrans %}</div>
            <div class="crud-field-value">
                <a href="{{ path('app_class_period_show', { id : course.classPeriod.id } ) }}">{{ course.classPeriod.name }}</a>
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}data.teachers{% endtrans %}</div>
            <div class="crud-field-value">
                <ul>
                    {% for teacher in course.teachers %}
                        <li><a href="{{ path('app_teacher_show', { id : teacher.id }) }}">{{ teacher }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}Text{% endtrans %}</div>
            <div class="crud-field-value">
                {{ course.text|raw }}
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}Comment{% endtrans %}</div>
            <div class="crud-field-value">
                {{ course.comment|raw }}
            </div>
        </div>
        <div class="crud-field">
            <div class="crud-field-label">{% trans %}Status{% endtrans %}</div>
            <div class="crud-field-value">
                {{ course.enable }}
            </div>
        </div>
    </div> <!-- end .panel-body -->
    
    <div class="panel-footer">
        <em class="text-muted"><strong>{% trans %} Record by {% endtrans %}</strong> {{ course.author.nameComplete }}
            to {{ course.createdAt|date('d/m/Y H:i:s') }}</em>
    </div> <!-- end .panel-footer -->
</div> <!-- end .panel -->