{% extends '_inspina/layout.html.twig' %}

{% trans_default_domain "student" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/student.js') }}"></script>

    <script>
        $(function () {
            $('#modalFamily').on('shown.bs.modal', function () {

                var name = $('#app_student_person_name').val();
                var address = $('#app_student_person_address').val();
                var zip = $('#app_student_person_zip').val();
                var city = $('#app_student_person_city').val();
                var phone = $('#app_student_person_phone').val();

                $('#app_family_father_name').val(name);
                $('#app_family_address').val(address);
                $('#app_family_zip').val(zip);
                $('#app_family_city').val(city);
                $('#app_family_father_phone').val(phone);
            });

            $('#app_family_submit').click(function(e) {
                e.preventDefault();
                var form = $('form[name="app_family"]');
                var url = $(form).attr('action');
                var data = $(form).serializeArray();

                $.post(url, data)
                    .done(function (response) {
                        $('#app_student_person_family')
                            .append(new Option(response.data.label, response.data.id, true, true));

                        $('#modalFamily').modal('hide')
                    })
                    .always(function (data) {
                        console.log(data);
                    });
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/student.css') }}" />
{% endblock %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set breadcrumbs = { ('title.common'|trans) : path('app_student_index')}|merge(breadcrumbs|default({})) %}

{% block menu_action %}

    <li class="{%if 'app_student_index' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_student_index') }}">
            <span class="fa fa-list"></span>
            <span class="hidden-xs">{% trans %}List{% endtrans %}</span>
        </a>
    </li>
    <li class="{%if 'app_student_new' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_student_new') }}">
            <span class="fa fa-plus"></span>
            <span class="hidden-xs">{% trans %}New student{% endtrans %}</span>
        </a>
    </li>
    <li class="{%if 'app_student_desactivated' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_student_desactivated') }}">
            <span class="fa fa-list"></span>
            <span class="hidden-xs">{% trans %}action.inactive_list{% endtrans %}</span>
        </a>
    </li>
    <li class="{%if 'app_student_payment_list' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_student_payment_list') }}">
            <span class="fa fa-list"></span>
            <span class="hidden-xs">{% trans %}action.payment_list{% endtrans %}</span>
        </a>
    </li>

    {% if student is defined and student.id %}

        <li class="provider"></li>
        <li class="{%if 'app_student_show' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_student_show', {'id': student.id}) }}">
                <i class="fas fa-file-text"></i>
                <span class="hidden-xs">{% trans %}Show{% endtrans %}</span>
            </a>
        </li>
        <li class="{%if 'app_student_edit' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_student_edit', {'id': student.id}) }}">
                <span class="fas fa-edit</span>
                <span class="hidden-xs">{% trans %}Edit{% endtrans %}</span>
            </a>
        </li>
        <li class="{%if 'app_student_delete' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_student_delete', {'id': student.id}) }}">
                <span class="fa fa-trash"></span>
                <span class="hidden-xs">{% trans %}Delete{% endtrans %}</span>
            </a>
        </li>
    {% endif %}

{% endblock %}
