{% extends 'member/common.html.twig' %}

{% trans_default_domain 'member' %}

{% set title = 'title.index'|trans %}

{% block body %}
    <div class="panel panel-default">

        {% include 'search.html.twig' %}

        <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Forname{% endtrans %}</th>
                <th>{% trans %}Gender{% endtrans %}</th>
                <th>{% trans %}Function{% endtrans %}</th>
                <th><span class="fa fa-edit" title="{% trans %}Edit{% endtrans %}"></span></th>
                <th><span class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for member in memberList %}
            <tr>
                <td><a href="{{ path('app_member_show', { 'id': member.id }) }}">{{ member.id }}</a></td>
                <td><a href="{{ path('app_member_show', { 'id': member.id }) }}">{{ member.person.name }}</a></td>
                <td><a href="{{ path('app_member_show', { 'id': member.id }) }}">{{ member.person.forname }}</a></td>
                <td><a href="{{ path('app_member_show', { 'id': member.id }) }}">{{ member.person.gender }}</a></td>
                <td><a href="{{ path('app_member_show', { 'id': member.id }) }}">{{ member.positionName }}</a></td>
                <td>
                    <a href="{{ path('app_member_edit', {'id': member.id}) }}" title="{% trans %}Edit{% endtrans %}">
                        <span class="fa fa-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_member_delete', {'id': member.id}) }}" class="crud-entity-delete" title="{% trans %}Delete{% endtrans %}" data-entity="Member" data-id="{{ member.id }}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pages > 1 %}
    <div class="panel-footer">
        {% include 'pagination.html.twig' with {
            currentFilters: { 'search': search },
            currentPage: page,
            paginationPath: "member",
            lastPage: pages,
            showAlwaysFirstAndLast: true
        } only %}
    </div>
    {% endif %}
</div>

{% endblock %}

