{% trans_default_domain 'family' %}

<!-- Modal -->
<div class="modal fade" id="modalPackageStudentPeriod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="far fa-calendar-plus"></i> {{ 'new_package_student'|trans({'%period%' : period}) }}</h4>
            </div>

            {{ form_start(formPackage, {"attr": {"style" : "font-family:Arial, FontAwesome"}}) }}
            {{ form_errors(formPackage) }}
            <div class="modal-body">
                {{ form_row(formPackage.package) }}
                <div class="hide">{{ form_row(formPackage.student) }}</div>
                {{ form_row(formPackage.discount) }}
                {{ form_row(formPackage.comment) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="save-package-student">Save changes</button>
            </div>

            {{ form_end(formPackage) }}
        </div>
    </div>
</div>
