{% trans_default_domain 'student' %}

<fieldset>
    <legend>{{ 'show.other_info.title'|trans }}</legend>
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="relations" class="active"><a href="#relations" aria-controls="relations" role="tab" data-toggle="tab">{{ 'show.family.label'|trans }}</a></li>
            <li role="classSchool"><a href="#classSchool" aria-controls="classSchool" role="tab" data-toggle="tab">{{ 'show.otherinfos.tab.class'|trans }}</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="relations">
                <div class="student-family">

                    {% if student.person.family is not empty  %}
                        {% set family = student.person.family %}

                        <dl class="dl-horizontal">
                            {% if family.father is not empty %}
                                <dt>{{ 'show.other_info.family.father.label'|trans }}</dt>
                                <dd><a href="{{ path('app_person_show', { id : family.father.id }) }}">{{ family.father }}</a></dd>
                            {% endif %}

                            {% if family.mother is not empty %}
                                <dt>{{ 'show.other_info.family.mother.label'|trans }}</dt>
                                <dd><a href="{{ path('app_person_show', { id : family.mother.id }) }}">{{ family.mother }}</a></dd>
                            {% endif %}

                            {% if family.legalGuardian is not empty  %}
                                <dt>{{ 'show.other_info.family.legalGuardian.label'|trans }}</dt>
                                <dd><a href="{{ path('app_person_show', { id : family.legalGuardian.id }) }}"></a>{{ family.legalGuardian }}</dd>
                            {% endif %}

                            <dt>{{ 'show.other_info.family.address.label'|trans }}</dt>
                            <dd>{{ family.address }}</dd>
                            <dd>{{ family.zip }} {{ family.city }}</dd>
                            
                            {% if family.persons|length > 1 %}
                                <dt>{{ 'show.other_info.family.children.label'|trans }}</dt>
                                {% for person in family.persons %}
                                    {% if person.student is not null and person.student.id is same as(student.id) %}
                                        <dd>
                                            {% if person.student is not empty %}
                                                <a href="{{ path('app_student_show', { id : person.student.id }) }}">{{ person.student }}</a>
                                            {% else %}
                                                <a href="{{ path('app_person_show', { id : person.id }) }}">{{ person.student }}</a>
                                            {% endif %}
                                        </dd>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </dl>

                    {% else %}
                        <a href="{{ path('app_student_edit', { id : student.id }) }}" class="btn btn-primary">{{ 'list.action.edit'|trans }}</a>
                    {% endif %}
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="classSchool">
                {% if student.classPeriods is not empty %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans %}Period{% endtrans %}</th>
                                <th>{% trans %}Class School{% endtrans %}</th>
                                <th>{% trans %}Begin{% endtrans %}</th>
                                <th>{% trans %}End{% endtrans %}</th>
                                <th>{% trans %}Students{% endtrans %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for classPeriodStudent in student.classPeriods %}
                                <tr class="">
                                    <td>{{ classPeriodStudent.classPeriod.period.name }}</td>
                                    <td>{{ classPeriodStudent.classPeriod.classSchool.name }}</td>
                                    <td>{{ classPeriodStudent.begin.format('d/m/Y') }}</td>
                                    <td>{{ classPeriodStudent.end.format('d/m/Y') }}</td>
                                    <td>{{ classPeriodStudent.classPeriod.students|length }}</td>
                                    <td>
                                        <a href="{{ path('app_class_period_show', {'id': classPeriodStudent.classPeriod.id}) }}" class="fas fa-folder-open-o"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <a href="#" class="btn btn-default">{% trans %}Integrer une classe{% endtrans %}</a>
                {% endif %}
            </div>

        </div> <!-- End Tab panes -->
    </div>
</fieldset>
