{% extends 'teacher/common.html.twig' %}

{% trans_default_domain "teacher" %}

{% set title = 'title.index'|trans %}

{% block body %}
    <div class="panel panel-default">
        {% include 'search.html.twig' %}

        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>{% trans %}header.id_teacher{% endtrans %}</th>
                    <th>{% trans %}header.id_person{% endtrans %}</th>
                    <th>{% trans %}header.name{% endtrans %}</th>
                    <th>{% trans %}header.forname{% endtrans %}</th>
                    <th>{% trans %}header.phone{% endtrans %}</th>
                    <th>{% trans %}header.email{% endtrans %}</th>
                    <th>{% trans %}header.gender{% endtrans %}</th>
                    <th>{% trans %}header.city{% endtrans %}</th>
                    <th>{% trans %}header.status{% endtrans %}</th>
                    <th>{% trans %}header.class{% endtrans %}</th>
                    <th>{% trans %}header.created{% endtrans %}</th>
                    <th><span class="fa fa-edit" title="{% trans %}Edit{% endtrans %}"></span></th>
                    <th><span class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teacherList %}
                    {% if teacher.person is not empty  %}
                        {% set person = teacher.person %}
                        <tr>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ teacher.id }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.id }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.name }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.forname }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.phone }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.email }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.gender }}</a></td>
                            <td>
                                <a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}" title="{{ person.address }} {{ person.zip }}">{{ person.city }}</a>
                            </td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ person.enable }}</a></td>
                            <td><a href="{{ path('app_teacher_show', { 'id': teacher.id }) }}">{{ teacher.classPeriods|length }}</a></td>
                            <td>{% if teacher.createdAt %}{{ teacher.createdAt|date('date.short_with_hour'|trans({}, 'common')) }}{% else %}-{% endif %}</td>
                            <td>
                                <a href="{{ path('app_teacher_edit', {'id': teacher.id}) }}" title="{% trans %}Edit{% endtrans %}">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_teacher_delete', {'id': teacher.id}) }}" class="crud-entity-delete" title="{% trans %}Delete{% endtrans %}" data-entity="Teacher" data-id="{{ teacher.id }}">
                                    <span class="fa fa-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        {% if pages > 1 %}
        <div class="panel-footer">
            {% include 'pagination.html.twig' with {
                currentFilters: { 'search': search },
                currentPage: page,
                paginationPath: "teacher",
                lastPage: pages,
                showAlwaysFirstAndLast: true
            } only %}
        </div>
        {% endif %}
    </div>

{% endblock %}
