{% extends '_inspina/layout.html.twig' %}

{% trans_default_domain "common"%}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set breadcrumbs = { ('meet.breadcrumb'|trans) : path('app_meet_index')}|merge(breadcrumbs|default({})) %}

{% block menu_action %}
    
    <li class="{%if 'app_meet_index' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_meet_index') }}">
            <span class="fa fa-list"></span>
            {% trans %}List{% endtrans %}
        </a>
    </li>
    <li class="{%if 'app_meet_new' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_meet_new') }}">
            <span class="fa fa-plus"></span>
            {% trans %}New Meet{% endtrans %}
        </a>
    </li>
    
    {% if meet is defined and meet.id %}
        <li class="{%if 'vmeet_show' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_meet_show', {'id': meet.id}) }}">
                {% trans %}Show{% endtrans %}
            </a>
        </li>
        <li class="{%if 'app_meet_edit' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_meet_edit', {'id': meet.id}) }}">
                <span class="fa fa-edit"></span>
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li class="{%if 'app_meet_delete' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_meet_delete', {'id': meet.id}) }}">
                <span class="fa fa-trash"></span>
                {% trans %}Delete{% endtrans %}
            </a>
        </li>
    {% endif %}
    
{% endblock %}
