{% extends 'meet/common.html.twig' %}

{% trans_default_domain 'meet' %}

{% set title = 'title.index'|trans %}

{% block body %}
    <div class="panel panel-default">

        {% include 'search.html.twig' %}


        <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Subject{% endtrans %}</th>
                <th>{% trans %}Created{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th><span class="fa fa-edit" title="{% trans %}Edit{% endtrans %}"></span></th>
                <th><span class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for meet in meetList %}
            <tr>
                <td><a href="{{ path('app_meet_show', { 'id': meet.id }) }}">{{ meet.id }}</a></td>
                <td><a href="{{ path('app_meet_show', { 'id': meet.id }) }}">{{ meet.title }}</a></td>
                <td>{% if meet.date %}{{ meet.date|date('d/m/Y H:i') }}{% endif %}</td>
                <td><a href="{{ path('app_meet_show', { 'id': meet.id }) }}">{{ meet.subject }}</a></td>
                <td>{% if meet.createdAt %}{{ meet.createdAt|date('d/m/Y H:i') }}{% endif %}</td>
                <td><a href="{{ path('app_meet_show', { 'id': meet.id }) }}">{{ meet.enable }}</a></td>
                <td>
                    <a href="{{ path('app_meet_edit', {'id': meet.id}) }}" title="{% trans %}Edit{% endtrans %}">
                        <span class="fa fa-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_meet_delete', {'id': meet.id}) }}" class="crud-entity-delete" title="{% trans %}Delete{% endtrans %}" data-entity="Meet" data-id="{{ meet.id }}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pages > 1 %}
    <div class="panel-footer">
        {% include 'pagination.html.twig' with {
            currentFilters: { 'search': search },
            currentPage: page,
            paginationPath: "app_meet_index",
            lastPage: pages,
            showAlwaysFirstAndLast: true
        } only %}
    </div>
    {% endif %}
</div>

{% endblock %}

