{% extends 'meet/common.html.twig' %}

{% trans_default_domain 'meet' %}

{% set title = 'title.show'|trans({'%name%' : meet}) %}

{% set breadcrumbs = { ('' ~ title) : path('app_meet_show', {id : meet.id })}|merge(breadcrumbs|default({})) %}

{% block body %}
    <div class="row">

        <div class="col-md-8">
            {% embed '_inspina/embed/ibox.html.twig' %}
                {% trans_default_domain "meet" %}
                {% block title 'title.header.subject'|trans({'%name%' : meet}) %}
                {% block config '' %}
                {% block content %}
                    <div class="panel-heading">
                        <strong>{% trans %}Subject Meet{% endtrans %} : {{ meet.subject }}</strong>
                    </div>
                    <div id="editor" class="panel-body" data-url="{{ path('app_api_meetapi_update', { id : meet.id }) }}">

                        {{ meet.text|raw }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-4">
            {% embed '_inspina/embed/ibox.html.twig' %}
                {% trans_default_domain "meet" %}
                {% block title '' %}
                {% block config '' %}
                {% block content %}
                    <dl class="dl-horizontal">

                        <dt>{% trans %}Id{% endtrans %}</dt>
                        <dd>{{ meet.id }}</dd>

                        <dt>{% trans %}Title{% endtrans %}</dt>
                        <dd>{{ meet.title }} </dd>

                        <dt>{% trans %}Date{% endtrans %}</dt>
                        <dd>{{ meet.date|date('d/m/Y H:i') }}</dd>

                        <dt>{% trans %}Status{% endtrans %}</dt>
                        <dd>{{ meet.enable }}</dd>
                    </dl>

                    <small>
                        <em>{{ 'Recorded by %name% to %date%'|trans({ '%name%' : meet.author.nameComplete, "%date%" : meet.createdAt.format('d/m/Y à H:i') }) }}</em>
                    </small>

                {% endblock %}
            {% endembed %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript" src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
    <script type="text/javascript">
        import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
        import Autosave from '@ckeditor/ckeditor5-autosave';

        ClassicEditor.create( document.querySelector( '#editor' ), {
                plugins: [
                    Autosave
                ],
                autosave: {
                    save( editor ) {
                        return saveData( editor.getData() );
                    }
                }
            })
            .then( editor => {
                window.editor = editor;
                displayStatus( editor );
            })
            .catch( error => {
                console.error( err.stack );
            });

        function saveData( data ) {
            return new Promise( resolve => {
                setTimeout( () => {
                    console.log( 'Saved', data );

                    resolve();
                }, HTTP_SERVER_LAG );
            });
        }

        function displayStatus( editor ) {
            const pendingActions = editor.plugins.get( 'PendingActions' );
            const statusIndicator = document.querySelector( '#editor-status' );

            pendingActions.on( 'change:hasAny', ( evt, propertyName, newValue ) => {
                if ( newValue ) {
                    statusIndicator.classList.add( 'busy' );
                } else {
                    statusIndicator.classList.remove( 'busy' );
                }
            });
        }


        $(function () {
           $('#editor').change(function () {
              $.post($(this).data('url'), { text : $(this).prop() })
                  .always(function (response) {
                      console.log(response);
                  });
           });
        });
    </script>
{% endblock %}
