{% set resources = resources|merge({ highchart : true }) %}

{% extends "admin/common.html.twig" %}

{% trans_default_domain 'admin' %}

{% set title = 'dashboard.breadcrumb'|trans({}, 'common') %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('inspina/js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('inspina/js/plugins/morris/morris.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <!-- Student Panel -->
        <div class="col-lg-3 animated zoomInDown">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="{{ path('app_student_index') }}" class="btn-link"><em class="fa fa-graduation-cap fa-5x"></em></a>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> {% trans %}panel.title.student{% endtrans %} </span>
                        <h2 class="font-bold">{{ data.student.nbActive }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Account Panel -->
        {% if is_granted('ROLE_ACCOUNTANT') %}
            <div class="col-lg-4 animated zoomInDown">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <em class="fa fa-money fa-5x"></em>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> {% trans %}account.total_sum{% endtrans %} </span>
                            <h2 class="font-bold">{{ data.account.total.amount |round(2, 'floor') }} &euro;</h2>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                {% if is_granted('ROLE_ACCOUNTANT') %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">{% trans %}panel.title.account{% endtrans %}</div>
                            <div class="panel-body">
                                <table class="table">
                                    {% for account in data.account %}
                                        <tr>
                                            <td>{{ account.name|default('total') }}</td>
                                            <td class="text-right"><strong>{{ account.amount|round(2, 'floor') }} €</strong></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>

        {% if data.lastOperations is not empty and is_granted('ROLE_ACCOUNTANT') %}
            <fieldset id='last-operation' class="col-md-6">
                <legend class="clearfix">
                    <span class="pull-left">{% trans %}panel.title.last_operation{% endtrans %}</span>
                    <span class="pull-right">
                        <a href="{{ path('app_account_slip_new') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Transfert</a>
                        <a href="{{ path('app_operation_new') }}" class="btn btn-xs btn-primary"><i class="fa fa-plus"> Opération</i> </a>
                        <a href="{{ path('app_operation_index') }}" class="btn btn-xs btn-primary"><i class="fa fa-list-ol"></i> {% trans %}panel.title.btn_list_operations{% endtrans %}</a>
                    </span>
                </legend>
                <table class="table">
                    {% for operation in data.lastOperations %}
                        <tr>
                            <td>
                                {% if operation.date is not null %}
                                    <span>{{ operation.date.format('d/m/y') }}</span>
                                {% else %}
                                    <span class="text-muted">{{ operation.datePlanned.format('d/m/y') }}</span>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('app_operation_show', {id : operation.id}) }}">{{ operation.name }}</a></td>
                            <td>{{ operation.typeOperation }}</td>
                            <td class="text-right text-{{ operation.amount > 0 ? 'success' : 'danger' }}"><strong>{{ operation.amount|round(2, 'floor') }} €</strong></td>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
        {% endif %}

        <div class="col-md-4">
            {{ render(controller("App\\Controller\\StatisticsController::statsAccount")) }}
        </div>
    </div>
{% endblock %}
