{% extends '_inspina/layout.html.twig' %}

{% trans_default_domain "common" %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set breadcrumbs = { ('package_student_period.breadcrumb'|trans) : path('app_package_student_period_index')}|merge(breadcrumbs|default({})) %}

{% block menu_action %}

    <li class="{%if 'package_student_period' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_package_student_period_index') }}">
            <span class="fa fa-list"></span>
            {% trans %}List{% endtrans %}
        </a>
    </li>
    <li class="{%if 'app_package_student_period_new' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_package_student_period_new') }}">
            <span class="fa fa-plus"></span>
            {% trans %}package_student_period.new{% endtrans %}
        </a>
    </li>

    {% if packagestudentperiod is defined and packagestudentperiod.id %}
        <li class="{%if 'app_package_student_period_show' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_package_student_period_show', {'id': packagestudentperiod.id}) }}">
                <span class="fa fa-file-o"></span>
                {% trans %}Show{% endtrans %}
            </a>
        </li>
        <li class="{%if 'app_package_student_period_edit' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_package_student_period_edit', {'id': packagestudentperiod.id}) }}">
                <span class="fa fa-edit"></span>
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li class="{%if 'app_package_student_period_delete' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_package_student_period_delete', {'id': packagestudentperiod.id}) }}">
                <span class="fa fa-trash"></span>
                {% trans %}Delete{% endtrans %}
            </a>
        </li>
    {% endif %}

{% endblock %}