{% extends 'package_student_period/common.html.twig' %}

{% trans_default_domain 'package_period_student' %}

{% set title = 'title.index'|trans %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('app_package_student_period_index') }}">{{ title }}</a></li>
{% endblock %}

{% block content -%}
<div class="panel panel-default">
    {% include 'search.html.twig' %}

    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Record{% endtrans %}</th>
                <th>{% trans %}Dateexpire{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Discount{% endtrans %}</th>
                <th>{% trans %}Paid{% endtrans %}</th>
                <th>{% trans %}Comment{% endtrans %}</th>
                <th><span class="fa fa-edit" title="{% trans %}Edit{% endtrans %}"></span></th>
                <th><span class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for packagestudentperiod in packagestudentperiodList %}
            <tr>
                <td><a href="{{ path('app_package_student_period_show', { 'id': packagestudentperiod.id }) }}">{{ packagestudentperiod.id }}</a></td>
                <td>{% if packagestudentperiod.record %}{{ packagestudentperiod.record|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if packagestudentperiod.dateExpire %}{{ packagestudentperiod.dateExpire|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><a href="{{ path('app_package_student_period_show', { 'id': packagestudentperiod.id }) }}">{{ packagestudentperiod.amount }}</a></td>
                <td><a href="{{ path('app_package_student_period_show', { 'id': packagestudentperiod.id }) }}">{{ packagestudentperiod.discount }}</a></td>
                <td><a href="{{ path('app_package_student_period_show', { 'id': packagestudentperiod.id }) }}">{{ packagestudentperiod.paid }}</a></td>
                <td><a href="{{ path('app_package_student_period_show', { 'id': packagestudentperiod.id }) }}">{{ packagestudentperiod.comment }}</a></td>
                <td>
                    <a href="{{ path('app_package_student_period_edit', {'id': packagestudentperiod.id}) }}" title="{% trans %}Edit{% endtrans %}">
                        <span class="fa fa-edit"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_package_student_period_delete', {'id': packagestudentperiod.id}) }}" class="crud-entity-delete" title="{% trans %}Delete{% endtrans %}" data-entity="PackageStudentPeriod" data-id="{{ packagestudentperiod.id }}">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pages > 1 %}
    <div class="panel-footer">
        {% include 'pagination.html.twig' with {
            currentFilters: { 'search': search },
            currentPage: page,
            paginationPath: "package_student_period",
            lastPage: pages,
            showAlwaysFirstAndLast: true
        } only %}
    </div>
    {% endif %}
</div>

{% endblock %}

