{% extends '_inspina/layout.html.twig' %}

{% trans_default_domain "common" %}

{% block title %}
  {{ title }} - {{ parent() }}
{% endblock %}

{% set breadcrumbs = { ('person.breadcrumb'|trans) : path('app_person_index')}|merge(breadcrumbs|default({})) %}

{% block menu_action %}

    <li class="{%if 'app_person_index' == app.request.attributes.get('_route')%} active{% endif %}">
        <a href="{{ path('app_person_index') }}">
            <span class="fa fa-list"></span>
            {% trans %}List{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('app_person_new') }}" class="{%if 'person_new' == app.request.attributes.get('_route')%} active{% endif %}">
            <span class="fa fa-plus"></span>
            {{ 'person.new'|trans }}
        </a>
    </li>

    {% if person is defined and person.id %}
        <li class="{%if 'app_person_show' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_person_show', {'id': person.id}) }}">
                <i class="fas fa-file-text"></i>
                {% trans %}Show{% endtrans %}
            </a>
        </li>
        <li class=" {%if 'app_person_edit' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_person_edit', {'id': person.id}) }}">
                <span class="fa fa-edit"></span>
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li class=" {%if 'app_person_delete' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_person_delete', {'id': person.id}) }}">
                <span class="fa fa-trash"></span>
                {% trans %}Delete{% endtrans %}
            </a>
        </li>
    {% endif %}

{% endblock %}