{% trans_default_domain 'person' %}

{% if families is not empty or person.family is not empty %}
    {% embed '_inspina/embed/ibox.html.twig' %}
        {% trans_default_domain "person" %}
        {% block title 'title.header.families'|trans %}
        {% block config '' %}
        {% block content %}

            <dl class="horizontal">
                {% if person.family is not empty %}
                    <dt>{{ 'show.label.family'|trans }}</dt>
                    <dd><a href="{{ path('app_family_show', { id : person.family.id }) }}">{{ person.family }}</a></dd>
                {% endif %}

                {% if families is not empty %}
                    <dt>{{ 'show.label.families'|trans }}</dt>
                    {% for family in families %}
                        <dd><a href="{{ path('app_family_show', { id : family.id }) }}">{{ family }}</a></dd>
                    {% endfor %}
                {% endif %}
            </dl>
        {% endblock %}
    {% endembed %}
{% endif %}