{% extends 'layout.html.twig' %}

{% block contextualMenu %}

    <div class="btn-group">
        <a href="{{ path('app_student_comment') }}" class="btn btn-default{%if 'student-comment' == app.request.attributes.get('_route')%} active{% endif %}">
            <span class="fa fa-list"></span>
            {% trans %}List{% endtrans %}
        </a>
        <!-- <a href="{{ path('app_student_comment_new') }}" class="btn btn-primary{%if 'student-comment_new' == app.request.attributes.get('_route')%} active{% endif %}">
            <span class="fa fa-plus"></span>
            {% trans %}New StudentComment{% endtrans %}
        </a> -->
    </div>

    {% if studentcomment is defined and studentcomment.id %}
    <div class="btn-group">
        <a class="btn btn-default {%if 'student-comment_show' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('app_student_comment_show', {'id': studentcomment.id}) }}">
            {% trans %}Show{% endtrans %}
        </a>
        <a class="btn btn-default {%if 'student-comment_edit' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('app_student_comment_edit', {'id': studentcomment.id}) }}">
            <span class="fa fa-edit"></span>
            {% trans %}Edit{% endtrans %}
        </a>
        <a class="btn btn-default {%if 'student-comment_delete' == app.request.attributes.get('_route')%} active{% endif %}" href="{{ path('app_student_comment_delete', {'id': studentcomment.id}) }}">
            <span class="fa fa-trash"></span>
            {% trans %}Delete{% endtrans %}
        </a>
    </div>
    {% endif %}

{% endblock contextualMenu %}