{% extends '_inspina/layout.html.twig' %}

{% trans_default_domain 'common' %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set breadcrumbs = { ('document.breadcrumb'|trans) : path('app_document_index')}|merge(breadcrumbs|default({})) %}

{% block menu_action %}
        <li class="{%if 'app_document_index' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_document_index') }}">
                <span class="fa fa-list"></span>
                {% trans %}List{% endtrans %}
            </a>
        </li>
        <li class="{%if 'app_document_new' == app.request.attributes.get('_route')%} active{% endif %}">
            <a href="{{ path('app_document_new') }}">
                <span class="fa fa-plus"></span>
                {% trans %}document.new{% endtrans %}
            </a>
        </li>

        {% if document is defined and document.id %}
            <li class=" {%if 'app_document_show' == app.request.attributes.get('_route')%} active{% endif %}">
                <a href="{{ path('app_document_show', {'id': document.id}) }}">
                    <i class="fas fa-file-text" aria-hidden="true"></i>
                    {% trans %}Show{% endtrans %}
                </a>
            </li>
            <li class=" {%if 'app_document_edit' == app.request.attributes.get('_route')%} active{% endif %}">
                <a href="{{ path('app_document_edit', {'id': document.id}) }}">
                    <span class="fa fa-edit"></span>
                    {% trans %}Edit{% endtrans %}
                </a>
            </li>
            <li class=" {%if 'app_document_delete' == app.request.attributes.get('_route')%} active{% endif %}">
                <a href="{{ path('app_document_delete', {'id': document.id}) }}">
                    <span class="fa fa-trash"></span>
                    {% trans %}Delete{% endtrans %}
                </a>
            </li>
        {% endif %}

{% endblock %}
