{% extends 'document/common.html.twig' %}

{% trans_default_domain 'document' %}

{% set title = 'title.delete'|trans({ '%name%' : document }) %}

{% block errors %}{{ form_errors(delete_form) }}{% endblock errors %}

{% block body %}
    <div class="row">
        {% embed '_inspina/embed/delete.html.twig' %}
            {% trans_default_domain 'document' %}
            {% set nameEntity = 'document'|trans %}
            {% block title 'title.form.delete'|trans %}
        {% endembed %}

        <div class="col-md-6">

            <div class="text-center">
                {% if document.isImage %}
                    <img src="{{ asset(document.getWebPath()) }}" class="img-thumbnail" alt="{{ document.name }} " />
                {% elseif document.isFormat('pdf') %}
                    <img src="{{ asset(document.getWebPathThumb()) }}" class="img-thumbnail" alt="{{ document.name }} " />
                {% endif %}
            </div>
        </div>

        <div class="col-md-6">
            {%  include 'document/includes/linkedEntities.html.twig' %}
        </div>
    </div>

{% endblock %}
