{% extends 'document/common.html.twig' %}

{% trans_default_domain 'document' %}

{% set title = 'title.show'|trans({'%name%' : document}) %}

{% set breadcrumbs = { ('' ~ title) : path('app_document_show', {id : document.id })}|merge(breadcrumbs|default({})) %}

{% block body %}
<div class="row">

    <div class="col-md-4">
        {% embed '_inspina/embed/ibox.html.twig' %}
            {% trans_default_domain "document" %}
            {% block title 'title.header.preview'|trans({'%name%' : document}) %}
            {% block config '' %}
            {% block content %}
                <div class="text-center">
                    {% if document.isImage %}
                        <img src="{{ asset(document.getWebPath()) }}" class="img-thumbnail" alt="{{ document.name }} " />
                    {% elseif document.isFormat('pdf') %}
                        <img src="{{ asset(document.getWebPathThumb()) }}" class="img-thumbnail" alt="{{ document.name }} " />
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}
    </div>

    <div class="col-md-8">
        <div class="col-md-12">
            {% embed '_inspina/embed/ibox.html.twig' %}
                {% trans_default_domain "document" %}
                {% block title 'title.header.info'|trans({'%name%' : document}) %}
                {% block config '' %}
                {% block content %}
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Id{% endtrans %}</dt>
                        <dd> {{ document.id }} </dd>

                        <dt>{% trans %}Name{% endtrans %}</dt>
                        <dd> {{ document.name }} </dd>

                        <dt>{% trans %}Path{% endtrans %}</dt>
                        <dd> {{ document.path }} </dd>

                        <dt>{% trans %}MimeType{% endtrans %}</dt>
                        <dd> {{ document.mime }} </dd>

                        <dt>{% trans %}School{% endtrans %}</dt>
                        <dd>
                            <span>{{ document.school.name }}</span>
                        </dd>
                    </dl>
                    <div class="panel-footer text-muted">{% trans %}Record to{% endtrans %} {{ document.createdAt|date('d/m/Y H:i:s') }} by {{ document.author.nameComplete }}</div>

                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-12">
            {% embed '_inspina/embed/ibox.html.twig' %}
                {% trans_default_domain "document" %}
                {% block title 'title.header.linked'|trans({'%name%' : document}) %}
                {% block config '' %}
                {% block content %}
                    {% include 'document/includes/linkedEntities.html.twig' %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>

{% endblock %}
