{% extends '_inspina/layout.html.twig' %}

{% trans_default_domain 'common' %}

{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}

{% set breadcrumbs = { ('operationgender.breadcrumb'|trans) : path('app_operation-gender')}|merge(breadcrumbs|default({})) %}

{% block menu_action %}

    <li class="{% if 'app_operation-gender' == app.request.attributes.get('_route') %} active{% endif %}">
        <a href="{{ path('app_operation-gender') }}">
            <span class="fa fa-list"></span>
            {% trans %}List{% endtrans %}
        </a>
    </li>
    <li class="{% if 'app_operation-gender_new' == app.request.attributes.get('_route') %} active{% endif %}">
        <a href="{{ path('app_operation-gender_new') }}">
            <span class="fa fa-plus"></span>
            {{ 'operationgender.new'|trans }}
        </a>
    </li>
    
    {% if operationgender is defined and operationgender.id %}
        <li class="{% if 'app_operation-gender_show' == app.request.attributes.get('_route') %} active{% endif %}">
            <a href="{{ path('app_operation-gender_show', {'id': operationgender.id}) }}">
                <span class="fa fa-file"></span>
                {% trans %}Show{% endtrans %}
            </a>
        </li>
        <li class="{% if 'app_operation-gender_edit' == app.request.attributes.get('_route') %} active{% endif %}">
            <a href="{{ path('app_operation-gender_edit', {'id': operationgender.id}) }}">
                <span class="fa fa-edit"></span>
                {% trans %}Edit{% endtrans %}
            </a>
        </li>
        <li class="{% if 'app_operation-gender_delete' == app.request.attributes.get('_route') %} active{% endif %}">
            <a href="{{ path('app_operation-gender_delete', {'id': operationgender.id}) }}">
                <span class="fa fa-trash"></span>
                {% trans %}Delete{% endtrans %}
            </a>
        </li>
    {% endif %}
    
{% endblock %}