{% trans_default_domain 'account_statement' %}

{% extends 'account_statement/common.html.twig' %}

{% set title = 'title.index'|trans %}

{% block body %}
    <div class="panel panel-default">
        {% include 'search.html.twig' %}

        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Account{% endtrans %}</th>
                    <th>{% trans %}Amount Credit{% endtrans %}</th>
                    <th>{% trans %}Amount Debit{% endtrans %}</th>
                    <th>{% trans %}New Balance{% endtrans %}</th>
                    <th>{% trans %}Begin{% endtrans %}</th>
                    <th>{% trans %}End{% endtrans %}</th>
                    <th>{% trans %}Created{% endtrans %}</th>
                    <th>{% trans %}Status{% endtrans %}</th>
                    <th><span class="fa fa-edit" title="{% trans %}Edit{% endtrans %}"></span></th>
                    <th><span class="fa fa-trash" title="{% trans %}Delete{% endtrans %}"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for accountstatement in accountstatementList %}
                <tr>
                    <td><a href="{{ path('app_account_statement_show', { 'id': accountstatement.id }) }}">{{ accountstatement.id }}</a></td>
                    <td><a href="{{ path('app_account_statement_show', { 'id': accountstatement.id }) }}" title="{{ accountstatement.month.format('F Y') }}">{{ accountstatement.title }}</a></td>
                    <td><a href="{{ path('app_account_show', { 'id': accountstatement.account.id }) }}">{{ accountstatement.account.name }}</a></td>
                    <td>{{ accountstatement.amountCredit|number_format(2, '.', ',') }}</td>
                    <td>{{ accountstatement.amountDebit|number_format(2, '.', ',') }}</td>
                    <td>{{ accountstatement.newBalance|number_format(2, '.', ',') }}</td>
                    <td>{% if accountstatement.begin %}{{ accountstatement.begin|date('d/m/Y') }}{% endif %}</td>
                    <td>{% if accountstatement.end %}{{ accountstatement.end|date('d/m/Y') }}{% endif %}</td>
                    <td>{% if accountstatement.createdAt %}{{ accountstatement.createdAt|date('d/m/Y') }}{% endif %}</td>
                    <td><a href="{{ path('app_account_statement_show', { 'id': accountstatement.id }) }}">{{ accountstatement.enable }}</a></td>
                    <td>
                        <a href="{{ path('app_account_statement_edit', {'id': accountstatement.id}) }}" title="{% trans %}Edit{% endtrans %}">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_account_statement_delete', {'id': accountstatement.id}) }}" class="crud-entity-delete" title="{% trans %}Delete{% endtrans %}" data-entity="AccountStatement" data-id="{{ accountstatement.id }}">
                            <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if pages > 1 %}
            <div class="panel-footer">
                {% include 'pagination.html.twig' with {
                    currentFilters: { 'search': search },
                    currentPage: page,
                    paginationPath: "app_account_statement_index",
                    lastPage: pages,
                    showAlwaysFirstAndLast: true
                } only %}
            </div>
        {% endif %}
    </div>

{% endblock %}
